{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "globals": {
        "window": true
    },
    "rules": {
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "trailingComma": "all"
        }],
        "linebreak-style": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "settings": {
        "import/core-modules": [ "grommet" ]
    }
}