@font-face {
  font-family: ElementalEnd;
  src: url(../../assets/fonts/ElementalEnd.ttf);
}

.header-component .header-title > .grommetux-anchor {
  font-family: ElementalEnd, sans-serif;
  color: rgba(59, 59, 59, 0.8);
}

.header-component::after {
  bottom: -5px;
  box-shadow: inset 0 4px 8px -3px rgba(17, 17, 17, 0.06);
  content: '';
  height: 5px;
  position: absolute;
  width: 100%;
}
