@font-face {
  font-family: ElementalEnd;
  src: url(../../assets/fonts/ElementalEnd.ttf);
}

.header-component {
  z-index: 10;
  position: absolute;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.header-component .header-title > .grommetux-anchor {
  font-family: ElementalEnd, sans-serif;
  color: rgba(59, 59, 59, 0.8);
}
