body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app > .screen-content {
  height: calc(100vh - 72px); /*72px - height of header & footer*/
  margin-top: 48px;
  width: 100%;
  overflow-y: auto;
}

.app .screen-content .grommetux-split__column {
  height: 100%;
}

.app .screen-content .grommetux-split__column > * {
  height: 100%;
  overflow-y: auto;
}
.no-decoration {
  text-decoration: none !important;
}
