body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app > .screen-content {
  min-height: calc(100vh - 72px); /*72px - height of header & footer*/
}

.app .screen-content .grommetux-split__column {
  height: 100%;
}

.app .screen-content .grommetux-split__column > * {
  height: 100%;
  overflow-y: auto;
}

.no-decoration {
  text-decoration: none !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
